<p id="notice"><%= notice %></p>

<h1>Quests</h1>

<table class="w3-table-all">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Location</th>
      <th>Level</th>
      <th>Finished</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quests.each do |quest| %>
      <tr>
        <td><%= quest.name %></td>
        <td><%= quest.category %></td>
        <td><%= quest.location %></td>
        <td><%= quest.level %></td>
        <td><%= quest.finished %></td>
        <td><%= link_to 'Show', quest %></td>
        <td><%= link_to 'Edit', edit_quest_path(quest) %></td>
        <td><%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quest', new_quest_path %>
