<p id="notice"><%= notice %></p>

<h1>Quests</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Terminada</th>
      <th>Rango</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quests.each do |quest| %>
      <tr>
        <td><%= quest.name %></td>
        <td><%= quest.finished %></td>
        <td><%= quest.rank %></td>
        <td><%= link_to 'Detalles', quest %></td>
        <td><%= link_to 'Editar', edit_quest_path(quest) %></td>
        <td><%= link_to 'Borrar', quest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quest', new_quest_path %>
