<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @quest.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @quest.description %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @quest.category %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @quest.location %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @quest.level %>
</p>

<p>
  <strong>Terminada:</strong>
  <%= @quest.finished %>
</p>

<%= link_to 'Objetivos', quest_points_path(@quest) %>

<%= link_to 'Editar', edit_quest_path(@quest) %> |
<%= link_to 'Volver', quests_path %>
