<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @point.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @point.category %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @point.completed %>
</p>


<%= link_to 'Edit', edit_quest_point_path(@point.quest.id ,@point) %> |
<%= link_to 'Back', quest_points_path %>
